.Rectangle{
  width: 100%;
}
.main {
    display: flex;
    justify-content: space-between;
    height: 163px;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: #ffffff;
  }
  .title{
    margin: 0px;
  }
  .duration{
    margin-right: 12px;
    display: inline-block;
  }
  .creationDate{
    display: inline-block;
  }
  .left{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 70%;
  }
  .right{
    float: right;
    width: 50%;
    line-height: 4;
  }
  .description{
    margin-right: 10px;
    margin-top: 10px;
  }
  .content{
    display: flex;
    justify-content: space-between;
  }
  .time{
    display: flex;
    flex-direction: row;
    color: #b9bdce;
    align-items: center;
  }
  .inline{
    display: inline-block;
  }
  .edit {
    display: flex;
    padding: 6px;
    width: 80px;
    justify-content: space-evenly;
    background-color: #30b6dd;
    color: #ffffff;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
  }
  .remove{
    display: flex;
    justify-content: space-evenly;
    padding: 6px;
    width: 80px;
    background-color: #30b6dd;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
  }
  .actions{
    display: flex;
    align-items: center;
  }
  
  