.Rectangle{
  width: 100%;
}
.main {
    height: 163px;
    border-radius: 8px;
    padding: 22px;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: #ffffff;
  }
  .title{
    display: inline-block;
  }
  .duration{
    margin-right: 12px;
    display: inline-block;
  }
  .creationDate{
    display: inline-block;
  }
  .left{
    float: left;
    width: 50%;
  }
  .right{
    float: right;
    width: 50%;
    line-height: 4;
  }
  .description{
    float: left;
    text-align: left;
    width: 70%;
  }
  .time{
    width: 14px;
    height: 16px;
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b9bdce;
  }
  .inline{
    display: inline-block;
  }
  .edit {
    text-align: center;
    width: 75px;
    height: 24px;
    background-color: #30b6dd;
    color: #ffffff;
    margin:5px;
    border-radius: 2px;
    cursor: pointer;
  }
  .remove{
    text-align: center;
    width: 75px;
    height: 24px;
    background-color: #30b6dd;
    color: #ffffff;
    margin:5px;
    border-radius: 2px;
    cursor: pointer;
  }
  .actions{
    display: inline-flex;
    float: right;
  }
  
  