<div class='Rectangle'>
  <div class='main' [ngClass]='{"top-rated": course.isTopRated}' [customBorder]='course.creationDate'>
    <div class="left">
        <div class="content">
            <div>
              <h2 class="title">{{ course.title }}</h2><i *ngIf='course.isTopRated' class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="time">
              <i class='fa fa-clock-o' aria-hidden='true'></i>
              <span>{{ course.duration | duration}}</span>
              <i class='fa fa-calendar' aria-hidden='true'></i>
              <span>{{ course.creationDate | date : 'dd MMM, yyyy' }}</span>
            </div>
          </div>
          <div class="description">
            {{course.description}}
          </div>
    </div>
    <div class='actions'>
      <div class='edit'>
        <i class='fa fa-pencil' aria-hidden='true'></i>
        <span>Edit</span>
      </div>
      <div class='remove' (click)='onDelete(course.id)'>
        <i class='fa fa-trash' aria-hidden='true'></i>
        <span>Remove</span>
      </div>
    </div>
  </div>
</div>