input {
    width: 360px;
    height: 48px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    padding-left: 15px;
    background-color: #ffffff;
  }
  .Search {
    width: 100px;
    height: 48px;
    border-radius: 3px;
    margin-left: 5px;
    background-color: #9bc837;
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.13px;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
  }
#search{
    /* margin-left: 85px; */
    margin-top: 15px;
    margin-bottom: 50px;
}

::placeholder {
  width: 179.1px;
  height: 24px;
  letter-spacing: 0.22px;
  color: #c0c3ce;
}