section{
    width: 100%;
    height: 64px;
    margin-left: -85px;
    padding-left: 85px;
    padding-right: 85px;
}

a{
    display: inline;
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    font-stretch: normal;
    font-style: normal;
    line-height: 64px;
    letter-spacing: normal;
    color: #2c2f3c;
}